.reg-illustration {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 2rem;
  /* align-items: center; */
  background-color: rgb(255, 115, 0);
  color: #3608ab;
  color: blue;

  flex-basis: 50%;
  /* position: relative; */

  /* padding: 3rem 2rem 5rem 2rem; */
}

.reg-hero-text {
  background-color: rgba(255, 0, 0, 0.281);
  /* background-color: rgba(255, 255, 255, 0.633); */
  align-self: flex-start;
  padding: 2rem;
  margin-right: 6rem;
  margin-top: 3rem;
}

@keyframes imageChanger {
  0% {
    background-image: url(IMAGES/registration-images/beans\ corn.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
  }

  50% {
    background-image: url(IMAGES/registration-images/rice.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    transition: 0s;
  }
}

.register-text {
  font-size: 2.8rem;
  /* background-color: rgba(0, 0, 0, 0.302); */
  padding: 2rem;
}

.illus-container {
  height: 40rem;
  width: 70rem;
  animation: imageChanger;
  animation-duration: 45s;
  animation-iteration-count: infinite;
  transition: all 0s;
}

.reg-illustration ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 3rem;
  margin-left: 2.4rem;
  list-style: none;
}

.secondary-header {
  font-size: 3rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 2rem;
}

/* ****************************************************** */
/******************** FORM SECTION**********************/
/* ****************************************************** */

.reg-form {
  /* background-color: rgb(255, 115, 0); */
  padding: 5rem;
  padding-top: 20rem;

  flex-basis: 50%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .label {
  text-align: center;
  margin-bottom: 0.7rem;
} */

form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: rgba(255, 255, 0, 0.611);
  padding: 3rem 1rem;
}

/* form:last-child {
  margin-top: 4rem;
} */

label {
  font-size: 1.2rrm;
}

form div:last-child {
  margin-top: 2rem;
  text-align: center;

  /* height: ; */
}

.btn-reg {
  padding: 1rem 7rem;
  /* background-color: rgb(255, 115, 0); */
  background-color: #000;
  border-radius: 2rem;
  border: none;
  color: #fff;
  font-size: 2.4rem;
}

.form-box input {
  height: 4rem;
  width: 34rem;
  border: none;
  padding: 2rem;
  border-radius: 2rem;
}

.form-box {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.form-box label {
  font-size: 2.6rem;
  flex-basis: 20%;
}

.new-user-text {
  font-size: 1.6rem;
  line-height: 1.7;
}

.main-illus-list {
  /* background-color: rgba(0, 0, 0, 0.655); */
  padding-left: 4rem;
  border: none;
  color: #000;
}

/* **********************  MEDIA QUERRY *************** */

/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

/**************************/
/* BELOW 944px (Tablets) */
/*************************/

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

/**************************/
/* BELOW 544px (Phones) */
/**************************/
