* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 62.5%;
}

body {
  position: relative;
  height: 120rem;
}

header {
  padding-top: 3rem;
  background-color: #dcd4d4;
  position: fixed;
  z-index: 99;
}

.nav-header {
  max-width: 130rem;
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  background-color: #dcd4d4;
}

.logo {
  font-size: 2.4rem;
  background-color: #000;
  color: #fff;
  padding: 0.5rem;
  padding-right: 0;
  font-weight: 700;
  font-size: 2.6rem;
  border-radius: 8px;
}

.logo span {
  background-color: orange;
  border: none;
  padding: 0.5rem;
  color: #000;
  color: #fff;
  color: #142914;
  margin-left: 0.3rem;
  /* border-radius: 8px; */
  font-weight: 700;
  font-size: 2.6rem;
  letter-spacing: 5px;
}

.search-box {
  position: relative;
}

.search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0%;
  right: 0%;
  height: 5.1rem;
  width: 6rem;
  background-color: orange;
}

.header-icon {
  display: flex;
  gap: 2rem;
}

.search-input {
  width: 70rem;
  height: 5rem;
  border: none;
  padding-left: 1.6%;
}

input::placeholder {
  font-weight: 700;
  font-size: 1.5rem;
}

#icons {
  font-size: 3rem;
}

.main-nav {
  max-width: 155rem;
  margin-top: 2rem;
  padding: 0 2%;
}

.main-nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.4rem;
  color: #fff;
  list-style-type: none;
  gap: 0.3rem;
  text-align: center;
}

.main-nav-list li {
  background-color: #0e560e;
  width: 14rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-list-box {
  margin: 0 auto;

  width: 125rem;
  padding: 0 5rem;
  position: relative;
}

.icon-left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.icon-right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.carts-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
  grid-template-rows: auto;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  /* width: 240px; */
  /* height: 450px; */
  border: 1px solid #cac5c5;
}

.cart img {
  width: 150px;
  height: 250px;
  padding-bottom: 5rem;
}

.cart p {
  font-size: 1.8rem;
  text-align: center;
}

.cart button {
  background-color: green;
  color: #fff;
  padding: 1.3rem 6rem;
  border: none;
}

.ing-heading {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 2.6rem;
}

.ingredients {
  padding-top: 20rem;
}

.img-details {
  /* margin-top: 10%; */
}
